<div <%= tag.attributes panel_attributes %>>
  <div <%= tag.attributes header_attributes %>>
    <h3 class="panel-title" id="<%= title_id %>"><%= title %></h3>
    <span class="panel-toggle">▼</span>
  </div>
  <div <%= tag.attributes content_attributes %>>
    <%= content %>
  </div>
</div>